---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22denver,co%22%7D&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 01:15:13 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<dark_sky_api_key>/39.7392358,-104.990251?exclude=minutely,alert,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 504ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 64.507ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578878113,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","nearestStormDistance":10,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":38.91,"apparentTemperature":35.45,"dewPoint":0.85,"humidity":0.2,"pressure":1014.5,"windSpeed":4.68,"windGust":6.16,"windBearing":204,"cloudCover":0.47,"uvIndex":0,"visibility":10,"ozone":392.1},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578877200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0022,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0089,"temperature":39.55,"apparentTemperature":36.04,"dewPoint":0.77,"humidity":0.19,"pressure":1014.2,"windSpeed":4.87,"windGust":6.84,"windBearing":194,"cloudCover":0.52,"uvIndex":0,"visibility":10,"ozone":392},{"time":1578880800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":37.01,"apparentTemperature":33.55,"dewPoint":1.23,"humidity":0.22,"pressure":1015.4,"windSpeed":4.32,"windGust":5.18,"windBearing":229,"cloudCover"[...]
