---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=dae4c8c90f3c21fe4ff75897ffd7df01cc4abb1f6fba2be4869f93fc4b24971f&orientation=landscape&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=dae4c8c90f3c21fe4ff75897ffd7df01cc4abb1f6fba2be4869f93fc4b24971f&orientation=landscape&page=72&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=dae4c8c90f3c21fe4ff75897ffd7df01cc4abb1f6fba2be4869f93fc4b24971f&orientation=landscape&page=2&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '718'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"total":718,"total_pages":72,"results":[{"id":"36XAdOONlxc","created_at":"2020-01-14T01:34:26-05:00","updated_at":"2020-01-14T18:06:44-05:00","promoted_at":null,"width":6000,"height":4000,"color":"#130E0B","description":"Sleeping
        Owl","alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1578983427937-26078ee3d9d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDg4NX0","full":"https://images.unsplash.com/photo-1578983427937-26078ee3d9d3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDg4NX0","regular":"https://images.unsplash.com/photo-1578983427937-26078ee3d9d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDg4NX0","small":"https://images.unsplash.com/photo-1578983427937-26078ee3d9d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDg4NX0","thumb":"https://images.unsplash.com/photo-1578983427937-26078ee3d9d3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDg4NX0"},"links":{"self":"https://api.unsplash.com/photos/36XAdOONlxc","html":"https://unsplash.com/photos/36XAdOONlxc","download":"https://unsplash.com/photos/36XAdOONlxc/download","download_location":"https://api.unsplash.com/photos/36XAdOONlxc/download"},"categories":[],"likes":0,"liked_by_user":false,"current_user_collections":[],"user":{"id":"FNDAToNnUJc","updated_at":"2020-01-14T10:39:44-05:00","username":"joshua_forbes","name":"Joshua
        Forbes","first_name":"Joshua","last_name":"Forbes","twitter_username":"JustJoshSA","portfolio_url":"https://www.joshuaforbes.co.za","bio":"IG:
        @joshua_forbes\r\nTW: @JustJoshSA\r\nFB: @JustJoshZA\r\n\r\nhttps://www.joshuaforbes.co.za
        ","location":"South Africa","links":{"self":"https://api.unsplash.com/users/joshua_forbes","html":"https://unsplash.com/@joshua_forbes","photos":"https://api.unsplash.com/users/joshua_forbes/photos","likes":"https://api.unsplash.com/users/joshua_forbes/likes","portfolio":"https://api.unsplash.com/users/joshua_forbes/portfolio","following":"https://api.unsplash.com/users/joshua_forbes/following","followers":"https://api.unsplash.com/users/joshua_forbes/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1500881487277-547e141db773?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1500881487277-547e141db773?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1500881487277-547e141db773?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"joshua_forbes","total_collections":0,"total_likes":312,"total_photos":86,"accepted_tos":true},"tags":[{"type":"search","title":"denver"},{"type":"landing_page","title":"animal","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"}},"title":"Animals
        Images","subtitle":"Download free animals images","description":"Choose from
        a curated selection of animals photos. Always free on Unsplash.","meta_title":"900+
        Animals Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free animals photos. Download HD animals pictures for free
        on Unsplash.","cover_photo":{"id":"NodtnCsLdTE","created_at":"2017-05-08T11:24:00-04:00","updated_at":"2019-12-14T00:02:31-05:00","promoted_at":"2017-05-09T05:45:55-04:00","width":5042,"height":3151,"color":"#080606","description":"Crouching
        Tiger, Hidden Dragon.\nPhoto of a kitten named William hiding under a plaid","alt_description":"brown
        Scottish fold in brown thick-pile blanket","urls":{"raw":"https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-1.2.1","full":"https://images.unsplash.c[...]
