---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22hongkong%22%7D&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 18:22:35 GMT
- request:
    method: get
    uri: https://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - oscar_the_grouch
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Mon, 13 Jan 2020 18:22:35 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<google_api_key>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<dark_sky_api_key>/-22.3193039,-65.8306389?exclude=minutely,alert,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 849ms
      X-Forecast-Api-Calls:
      - '27'
      X-Response-Time:
      - 65.418ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193039,"longitude":-65.8306389,"timezone":"America/La_Paz","currently":{"time":1578939756,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0049,"precipProbability":0.11,"precipType":"rain","temperature":64.91,"apparentTemperature":64.91,"dewPoint":43.57,"humidity":0.46,"pressure":1008,"windSpeed":7.5,"windGust":7.5,"windBearing":29,"cloudCover":0.81,"uvIndex":8,"visibility":10,"ozone":240.9},"hourly":{"summary":"Possible
        light rain tonight.","icon":"rain","data":[{"time":1578938400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0056,"precipProbability":0.12,"precipType":"rain","temperature":64.3,"apparentTemperature":64.3,"dewPoint":43.93,"humidity":0.48,"pressure":1008.6,"windSpeed":7.25,"windGust":7.25,"windBearing":30,"cloudCover":0.75,"uvIndex":9,"visibility":10,"ozone":241.1},{"time":1578942000,"summary":"Overcast","icon":"cloudy","precipIntensi[...]
