---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=%7B%22location%22=%3E%22denver,co%22%7D&key=<google_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 14:11:49 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<dark_sky_api_key>/39.7392358,-104.990251?exclude=minutely,alert,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 172ms
      X-Forecast-Api-Calls:
      - '11'
      X-Response-Time:
      - 58.624ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578924711,"summary":"Clear","icon":"clear-night","nearestStormDistance":8,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":19.83,"apparentTemperature":11.94,"dewPoint":5.95,"humidity":0.54,"pressure":1015.3,"windSpeed":5.79,"windGust":8.98,"windBearing":189,"cloudCover":0.16,"uvIndex":0,"visibility":10,"ozone":395.2},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578924000,"summary":"Clear","icon":"clear-night","precipIntensity":0.0014,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0225,"temperature":19.82,"apparentTemperature":11.94,"dewPoint":5.76,"humidity":0.54,"pressure":1015.4,"windSpeed":5.78,"windGust":9.01,"windBearing":189,"cloudCover":0.16,"uvIndex":0,"visibility":10,"ozone":394.9},{"time":1578927600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":21.02,"apparentTemperature":13.67,"dewPoint":6.87,"humidity":0.54,"pressure":1015,"windSpeed":5.48,"windGust":8.52,"windBearing":187,"cloudCover":0.14,"uvIndex":0,"visibil[...]
